<div class="container">
  <div class="row">
      <span>Esporte: {{sport}}</span>    
  </div>
  <div class="row">
      <span>Cidade de partida: {{citystart}}/{{ufstart}}</span>    
  </div>
  <div class="row">
      <span>Cidade de destino: {{cityend}}/{{ufend}}</span>    
  </div>
  <div class="row">
      <span>Hora de início: {{timestart}}</span>    
  </div>
  <div class="row">
      <span>Frequência: {{frequency}}</span>    
  </div>
  <div class="row">
      <span>Responsável: {{response}}</span>    
  </div>
</div>
