<div *ngIf="this.storage.getLocalUser()">
  <div class="header">
    <div class="container">
      <div class="d-flex">
        <a class="navbar-brand" [routerLink]="['']">
          <img src="./assets/demo/brand/tabler.svg" class="navbar-brand-img" alt="tabler.io">
        </a>
        <div class="ml-auto d-flex order-lg-2">
          <!-- Usuário -->
          <div class="dropdown">
            <a href="#" class="nav-link pr-0" data-toggle="dropdown">
              <span class="avatar" style="background-image: url(./assets/demo/faces/female/25.jpg)"></span>
              <span class="ml-2 d-none d-lg-block">
                <span class="text-default">{{this.storage.getLocalUser().username}}</span>
                <small class="text-muted d-block mt-1">User</small>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" [routerLink]="['/cadastro']">
                <span>Perfil</span>
              </a>
              <a class="dropdown-item" href="#">
                <span>Configurações</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href (click)="this.logout()">Sair</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-nav d-none d-lg-flex">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a [routerLink]="['']" class="nav-link"><i class="fe fe-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['activity']" class="nav-link"><i class="fe fe-box"></i> Atividades</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="fe fe-image"></i> Buscar</a>
            </li>
          </ul>
        </div>
        <div class="col-3 ml-auto">
          <form class="input-icon">
            <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
            <div class="input-icon-addon">
              <i class="fe fe-search"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>