<div class="page">
    <div class="page-single">
      <div class="container">
        <div class="row">
          <div class="col col-login mx-auto">
            <form [formGroup]="formSearch" class="card" (submit)="submit($event)">
              <div class="card-body p-6">
                <div class="form-group">
                    <label class="form-label">Esporte</label>
                    <select 
                      formControlName="sportId"
                      [(ngModel)]="sportId"
                      class="form-control" 
                      autocomplete="off">
                      <option *ngFor="let sport of sports" value="{{sport.id}}">{{sport.name}}</option>
                    </select>
                </div>    
                <div class="form-group">
                  <label class="form-label">UF partida</label>
                  <select 
                    formControlName="ufStartId"
                    [(ngModel)]="ufStartId"
                    class="form-control" 
                    autocomplete="off"
                    (change)="this.updateCities(this.ufStartId, true)">
                    <option *ngFor="let uf of ufs" value="{{uf.id}}">{{uf.sigla}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Cidade de partida</label>
                  <select 
                    formControlName="cityStartId"
                    [(ngModel)]="cityStartId"
                    class="form-control" 
                    autocomplete="off">
                    <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Distância máxima (Km)</label>
                  <input 
                    formControlName="maxDistance"
                    [(ngModel)]="maxDistance"
                    class="form-control" 
                    autocomplete="off">
                  <div *ngIf="formSearch.controls.maxDistance.invalid && formSearch.controls.maxDistance.touched">
                    <span *ngIf="formSearch.controls.maxDistance.errors.pattern" class="form-control alert-danger">
                        Informe um número válido. Você pode usar no máximo duas casas decimais
                    </span>
                  </div>    
                </div>
                <div class="form-group">
                  <label class="form-label">Velocidade média máxima (Km/h)</label>
                  <input 
                    formControlName="maxAverage"
                    [(ngModel)]="maxAverage"
                    class="form-control" 
                    autocomplete="off">
                  <div *ngIf="formSearch.controls.maxAverage.invalid && formSearch.controls.maxAverage.touched">
                    <span *ngIf="formSearch.controls.maxAverage.errors.pattern" class="form-control alert-danger">
                       Informe um número válido. Você pode usar no máximo duas casas decimais
                    </span>
                  </div>  
                </div>
                <div class="form-footer">
                  <button type="submit" [disabled]="formSearch.invalid" class="btn btn-primary btn-block">Buscar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col col-login mx-auto">
            <h3 *ngIf="!this.acts[0]">Nenhuma atividade a ser exibida :(</h3>
            <div *ngIf="this.acts">
              <app-panelactivity *ngFor="let act of acts" title="{{act.nameSport}}" class="col-md-3">
                <app-simplelistact sport={{act.nameSport}}
                                  citystart={{act.nameCityStart}}
                                  ufstart={{act.siglaUFStart}}
                                  cityend={{act.nameCityEnd}}
                                  ufend={{act.siglaUFEnd}}
                                  timestart={{act.timeStart}}
                                  frequency={{act.describeFrequency}}
                                  response={{act.nameOwner}}>
                </app-simplelistact>
                <button (click)="detailActivity(act)" class="btn btn-primary btn-block">Detalhes</button>  
              </app-panelactivity>
            </div>
        </div>             
      </div>
    </div>
  </div>
