<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <form [formGroup]="formActivity" class="card" (submit)="submit($event)">
            <div class="card-body p-6">
              <div class="form-group">
                <label class="form-label">Esporte</label>
                <select 
                  formControlName="sportId"
                  [(ngModel)]="act.sportId"
                  class="form-control" 
                  autocomplete="off"
                  value="1">
                  <option value="1">Corrida</option>
                  <option value="2">Ciclismo</option>
                  <option value="3">Caminhada</option>
                </select>
              </div>    
              <div class="form-group">
                <label class="form-label">UF saída</label>
                <select 
                  formControlName="ufStartId"
                  [(ngModel)]="act.ufStartId"
                  class="form-control" 
                  autocomplete="off"
                  value="1">
                  <option value="1">RS</option>
                  <option value="2">SP</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Cidade de saída</label>
                <select 
                  formControlName="cityStartId"
                  [(ngModel)]="act.cityStartId"
                  class="form-control" 
                  autocomplete="off"
                  value="1">
                  <option value="1">Porto Alegre</option>
                  <option value="2">Campinas</option>
                  <option value="3">Sapiranga</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">UF destino</label>
                <select 
                  formControlName="ufEndId"
                  [(ngModel)]="act.ufEndId"
                  class="form-control" 
                  autocomplete="off"
                  value="1">
                  <option value="1">RS</option>
                  <option value="2">SP</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Cidade de saída</label>
                <select 
                  formControlName="cityEndId"
                  [(ngModel)]="act.cityEndId"
                  class="form-control" 
                  autocomplete="off"
                  value="1">
                  <option value="1">Porto Alegre</option>
                  <option value="2">Campinas</option>
                  <option value="3">Sapiranga</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Ponto de referência inicial</label>
                <input 
                  formControlName="referencePointStart"
                  [(ngModel)]="act.referencePointStart"
                  class="form-control" 
                  autocomplete="off">
              </div>
              <div class="form-group">
                <label class="form-label">Ponto de referência final</label>
                <input 
                  formControlName="referencePointEnd"
                  [(ngModel)]="act.referencePointEnd"
                  class="form-control" 
                  autocomplete="off">
              </div>
              <div class="form-group">
                <label class="form-label">Tipo de rota</label>
                <input 
                  formControlName="typeRoute"
                  [(ngModel)]="act.typeRoute"
                  class="form-control" 
                  autocomplete="off">
              </div>
              <div class="form-group">
                <label class="form-label">Nome de rota</label>
                <input 
                  formControlName="nameRoute"
                  [(ngModel)]="act.nameRoute"
                  class="form-control" 
                  autocomplete="off">
              </div>
              <div class="form-group">
                <label class="form-label">Horário de início</label>
                <input 
                  formControlName="timeStart"
                  [(ngModel)]="act.timeStart"
                  class="form-control" 
                  autocomplete="off"
                  placeholder="hh:mm:ss"
                  appMask="99:99:99">
              </div>
              <div class="card-title">Agenda</div>
              <div class="form-group">
                <label class="form-label">Frequência</label>
                <select 
                  formControlName="frequency"
                  [(ngModel)]="act.schedule.frequency"
                  class="form-control" 
                  autocomplete="off"
                  (change)="handleChangeFrequency()">
                  <option value="SPECIFIC_DATE">Data específica</option>
                  <option value="REGULAR">Regular</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Data</label>
                <input 
                  formControlName="date"
                  [(ngModel)]="act.schedule.date"
                  class="form-control" 
                  autocomplete="off"
                  placeholder="dd/mm/yyyy"
                  [(appMask)]="this.maskDate">
              </div>
              <div class="form-group">
                <label class="form-label">Segunda</label>
                <input 
                  formControlName="monday"
                  [(ngModel)]="act.schedule.monday"
                  class="form-control" 
                  type="checkbox"
                  autocomplete="off">
              </div>
              <div class="form-group">
                <label class="form-label">Terça</label>
                <input 
                  formControlName="tuesday"
                  [(ngModel)]="act.schedule.tuesday"
                  class="form-control" 
                  type="checkbox"
                  autocomplete="off">  
              </div>
              <div class="form-group">
                <label class="form-label">Quarta</label>
                <input 
                  formControlName="wednesday"
                  [(ngModel)]="act.schedule.wednesday"
                  class="form-control" 
                  type="checkbox"
                  autocomplete="off">  
              </div>
              <div class="form-group">
                <label class="form-label">Quinta</label>
                <input 
                  formControlName="thursday"
                  [(ngModel)]="act.schedule.thursday"
                  class="form-control" 
                  type="checkbox"
                  autocomplete="off">  
              </div>
              <div class="form-group">
                <label class="form-label">Sexta</label>
                <input 
                  formControlName="friday"
                  [(ngModel)]="act.schedule.friday"
                  class="form-control" 
                  type="checkbox"
                  autocomplete="off">  
              </div>
              <div class="form-group">
                <label class="form-label">Sábado</label>
                <input 
                  formControlName="saturday"
                  [(ngModel)]="act.schedule.saturday"
                  class="form-control" 
                  type="checkbox"
                  autocomplete="off">  
              </div>
              <div class="form-group">
                <label class="form-label">Domingo</label>
                <input 
                  formControlName="sunday"
                  [(ngModel)]="act.schedule.sunday"
                  class="form-control" 
                  type="checkbox"
                  autocomplete="off">  
              </div>
              <div class="card-title">Tempo</div>
              <div class="form-group">
                  <label class="form-label">Chuva</label>
                  <input 
                    formControlName="happenOnRain"
                    [(ngModel)]="act.details.happenOnRain"
                    class="form-control" 
                    type="checkbox"
                    autocomplete="off">  
              </div>
              <div class="form-group">
                  <label class="form-label">Sol</label>
                  <input 
                    formControlName="happenOnSun"
                    [(ngModel)]="act.details.happenOnSun"
                    class="form-control" 
                    type="checkbox"
                    autocomplete="off">  
              </div>
              <div class="form-group">
                  <label class="form-label">Calor</label>
                  <input 
                    formControlName="happenOnHeat"
                    [(ngModel)]="act.details.happenOnHeat"
                    class="form-control" 
                    type="checkbox"
                    autocomplete="off">  
              </div>
              <div class="form-group">
                  <label class="form-label">Frio</label>
                  <input 
                    formControlName="happenOnCold"
                    [(ngModel)]="act.details.happenOnCold"
                    class="form-control" 
                    type="checkbox"
                    autocomplete="off">  
              </div>
              <div class="card-title">Nível</div>
              <div class="form-group">
                  <label class="form-label">Iniciante</label>
                  <input 
                    formControlName="forBegginers"
                    [(ngModel)]="act.details.forBegginers"
                    class="form-control" 
                    type="checkbox"
                    autocomplete="off">  
              </div>
              <div class="form-group">
                  <label class="form-label">Regular</label>
                  <input 
                    formControlName="forRegulars"
                    [(ngModel)]="act.details.forRegulars"
                    class="form-control" 
                    type="checkbox"
                    autocomplete="off">  
              </div>
              <div class="form-group">
                  <label class="form-label">Experientes</label>
                  <input 
                    formControlName="forExperts"
                    [(ngModel)]="act.details.forExperts"
                    class="form-control" 
                    type="checkbox"
                    autocomplete="off">  
              </div>
              <div class="card-title">Detalhes</div>
              <div class="form-group">
                  <label class="form-label">Distância</label>
                  <input 
                    formControlName="distance"
                    [(ngModel)]="act.details.distance"
                    class="form-control" 
                    autocomplete="off">  
              </div>
              <div class="form-group">
                  <label class="form-label">Altimetria</label>
                  <input 
                    formControlName="altimetry"
                    [(ngModel)]="act.details.altimetry"
                    class="form-control" 
                    autocomplete="off">  
              </div>
              <div class="form-group">
                  <label class="form-label">Velocidade média</label>
                  <input 
                    formControlName="averageSpeed"
                    [(ngModel)]="act.details.averageSpeed"
                    class="form-control" 
                    autocomplete="off">  
              </div>
              <div class="form-group">
                  <label class="form-label">Quantidade mínima de pessoas</label>
                  <input 
                    formControlName="minPeople"
                    [(ngModel)]="act.details.minPeople"
                    class="form-control" 
                    autocomplete="off">  
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary btn-block">Salvar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
